.Plane-Header h4,
.Plane-Header,
.Plane-Footer h4,
.Plane-Footer {
  font-size: 16px !important;
  text-align: center;
}

.Plane-Header .row,
.Plane-Footer .row {
  padding: 10px;
}

.Plane-Header .row div,
.Plane-Footer .row div {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}
.Plane-Owner h4,
.Plane-Engine-Type h4 {
  font-weight: 700;
}

.Plane-Owner,
.Plane-IATA,
.Production-Line,
.Plane-Series,
.Plane-Model,
.Plane-Status,
.Plane-Registration,
.Plane-Age,
.Plane-Engine-Count,
.Plane-Engine-Type,
.Plane-Model-Code,
.Plane-First {
  background-color: #cfd5da !important;
  color: #000;
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Plane-Status span {
  text-transform: capitalize;
}

.active-plane {
  background-color: #2fbd4f !important;
}

.inactive-plane {
  background-color: #fbf4cd !important;
}

.Plane-Header,
.Plane-Footer {
  padding: 10px;
}
